algorithm = nsga2
problem = kur
#neighborhood = bit_flip
encoding = real
# parameter_0_length = 8
# parameter_1_length = 8
# parameter_2_length = 8

population_size = 100
crossover = sbx
sbx_eta = 1.0
crossover_rate = 0.9
mutation = gaussian
mu = 0.0
sigma = 0.5
mutation_rate = 0.02

metric = evaluation_count
metric = generation_count
#metric = best_solution

terminator = evaluation_limit
max_evaluations = 500000

comparator = pareto_dominance
trials = 30
