*.o
sls
libsls.a
libkvp.a
makeQAPrl
makeQAPuni
ksgen
enumerate
cfg/kur.cfg
out/*
prob/gsap/gsapgen
prob/gap/*
doc/

###Visual Studio Files
# User specific
*.suo
*.user
*.sln.docstates
*.vcxproj.filters

#Build results
[Dd]ebug/
[Rr]elease/
ipch/

# cache files
*.sdf
*.opensdf
